body {
    font-family: 'Open Sans', sans-serif;
}
.dygraph-axis-label {
    font-size: 9pt;
}
.dygraph-axis-label.dygraph-axis-label-x {
    width: 60px;
}
.dygraph-rangesel-fgcanvas, .dygraph-rangesel-bgcanvas, .dygraph-rangesel-zoomhandle {
    margin-top: 1em;
}
#graphdiv {
    position: absolute;
    top: 20px;
    left: 10px;
    right: 35px;
    bottom: 50px;
}
.side-link {
    position: fixed;
    top: 50%;
    height: 60px;
    margin-top: -30px;
    line-height: 60px;
    background-color: #337AB7;
    color: #fff;
    border-radius: 3px;
    font-size: 125%;
    z-index: 100;
}
.side-link:hover {
    background-color: #286090;
}
.side-right {
    right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.side-left {
    left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.side-link a {
    display: block;
    padding: 0 6px;
    color: #fff;
}
.tab-pane {
    padding-top: 1em;
}
.nav-tabs {
    margin-top: 0.5em;
}
.container {
    padding-left: 45px;
    padding-right: 45px;
}
.card {
    border: 1px solid #e5e5e5;
    border-radius: .25rem;
    padding: 0.5em 2em 1em 2em;
    margin-bottom: 2em;
}
.card-detail {
    font-size: 2.5em;
    font-weight: bold;
}
